html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    color: gainsboro;
    background-color: darkslategray;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    width: 130px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

