html {
    box-sizing: border-box;
    background-color: #1B263B
}
  *, *:before, *:after {
    box-sizing: inherit;
}

h1{
    color: #E0E1DD;
}

.container {
    width: 100%;
    color: #E0E1DD;
    background-color: #0D1B2A
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.cartContainer{
    display: flex;
    align-items: center;
}

.cartIcon {
    cursor: pointer;
}
.cartCant {
    width: 1rem;
    background-color: red;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
}
